language: java

python:
  - "2.7"

jdk:
  - openjdk8

sudo: required

services:
  - docker

notifications:
#  email:
#    recipients:
#      - username@email.dom
#    on_success: never # default: change
#    on_failure: always # default: always

env:
  global:
#    Please see https://docs.travis-ci.com/user/encryption-keys/ for information
#    about adding encryption keys which can be used to store auth tokens used in running apps against
#    the KBase infrastructure
#    secure: "blahblahblah"

before_install:
  - env

install:
  - pushd ..
  - git clone https://github.com/kbase/jars
  - popd

script:
  - make
  - make sdkbase
  - export PATH=$(pwd)/bin:$PATH
  - source src/sh/sdk-completion.sh
  - kb-sdk help
  - cd ..
  - kb-sdk init --example -l python -u sychan MyContigFilter
  - cd MyContigFilter
  - make
  - kb-sdk validate


