[kb_sdk_test]
# these must be different users
test.token=
test.token2=
test.kbase.endpoint=https://ci.kbase.us/services
test.auth-service-url=https://ci.kbase.us/services/auth/api/legacy/KBase/Sessions/Login
test.auth-service-url-allow-insecure=false
